<p class="h2">Lista de Missões</p>
<p style="font-style: italic; color:#888888"> missões que a turma devem concluir durante o semestre </p>
<div class="row justify-content-around" *ngIf="status; else isElse">
  <div *ngFor = "let m of missoes">
    <div class="alert alert-success" style="width: 800px" *ngIf="m.conclusao == 'Concluída'">
      <strong>{{m.nome}}</strong> {{m.descricao}} <br> <br> <strong> Recompensa: </strong> <em> {{m.valor}}XP </em>
    </div>

    <div class="alert alert-danger"style="width: 800px" *ngIf="m.conclusao == 'Inconcluída'">
      <strong>{{m.nome}}</strong> {{m.descricao}} <br> <br> <strong> Recompensa: </strong> <em> {{m.valor}}XP </em>
    </div>

    <div *ngIf="m.conclusao == 'Pendente'">
      <div class="alert alert-secondary" style="width: 800px" >
        <strong>{{m.nome}}</strong> {{m.descricao}} <br> <br> <strong> Recompensa: </strong> <em> {{m.valor}}XP </em>
      </div>
    </div>
  </div>
</div>

<ng-template #isElse>
  <br> <br>
  <div class="alert alert-danger">
    <strong>Ops!</strong> Ocorreu um erro tentar acessar a API para consultar a lista de missões.
    Parece que o servidor está inacessível ou está recusando conexões. Por isso não será possível
    utilizar o sistema neste momento. Tente novamente dentro de alguns intantes
  </div>
</ng-template>


