<p class="h2">Tabela de Classificação</p>
<p style="font-style: italic; color:#888888"> classificação até a última semana </p>
<div *ngIf="server; else elseBlock">
<table class="table table-hover table-bordered">
  <thead class="thead-dark">
  <th>#</th>
  <th>Nome</th>
  <th width="200">Classificação</th>
  </thead>
  <tbody>
  <tr *ngFor = "let classificado of alunos" (click)="abrir(classificado)">
    <td id="id">{{classificado.id}}</td>
    <td nome="nome">{{classificado.nome}}</td>
    <td nota="nota">{{classificado.media}} XP</td>
  </tr>
  </tbody>
</table>
</div>

<ng-template #elseBlock>
  <div class="alert alert-danger">
    <strong>Ops!</strong> Ocorreu um erro tentar acessar a API para consultar a tabela de classificação.
    Parece que o servidor está inacessível ou está recusando conexões. Por isso não será possível
    utilizar o sistema neste momento. Tente novamente dentro de alguns intantes
  </div>
</ng-template>
